.page {
    background-image: url("/static/bg.gif");
    background-repeat:repeat;
    height:100%;
}

h1 {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.main_blocks {
    padding-left: 10px;
    width: 250px;
    float: left;
    margin-left: 10px;
    text-align: left;
}

.in_blocks {
    width: 120px
}

.content {
    width:100%;
    float:left;
    border-bottom:1px solid black;
}

.req_count {
    padding-left:20px;
    marging-top: 10px;
    marging-bottom: 20px;
}